#marg {

    margin-top: 3.5rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}
#margPuan {

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}